body{
	background: #FFB6C1
}
.container {
  	width: 500px;
  	margin: 100px auto;
  	text-align: center;
}
audio{margin:0px auto;display: block;}
#clock{
  	font-size: 30px;
  	border: 1px solid #FFF;
	padding: 10px;
	margin: 5px 0px;
	background: #fff;
	font-family: sans-serif;
	color: #FF1493;
	border-radius: 10px;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #FF1493
}
.desc{
	text-align: left;
	display: block;
	font-size: 18px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.avatar{
	width:200px;
	height:200px;
	object-fit:cover;
	border-radius:50%;
}
@media (max-width: 767px) {
	.container {
		width:auto;
		margin:10px;
	}
}