.container {
  	width: 500px;
  	margin: 100px auto;
  	text-align: center;
}
audio{display: none;}
#clock{
  	font-size: 50px;
  	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px 0px;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px
}
.desc{
	text-align: left;
	display: block;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.avatar{
	width:200px;
		height:200px;
		object-fit:cover;
		border-radius:50%;
}
@media (max-width: 767px) {
	.container {
		width:auto;
		margin:10px;
	}
}